@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center"  style="background-color: lightgoldenrodyellow;">
    <h2 class="font-size: 30px"">Enter Card Name and Number</h2>  
</div> *@



